{% extends "base.html" %}
{% block container %}
<div class="jumbotron">
        <h2>基于树莓派的水陆两栖多功能巡检车</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基于移动智能终端WEB平台，借助于4G通信技术，为无线远程控制智能巡检车设计提供一种新的研究方法。本文设计将移动互联网技术、树莓派、图像采集模块、温湿度传感器和移动智能终端平台结合在一起，并特别设计轮桨一体四轮小车底盘，通过4G网络通信远程控制水陆两栖多功能巡检车。远程用户能通过移动智能终端WEB界面看到小车上摄像头拍摄的实时图像，通过实时控制界面上的按钮切换巡检车的水/陆状态，控制小车的前进、后退、左转弯和右转弯，并实时显示当前树莓派内存占用及CPU温度情况等。另外，本文巡检车还附加了历史轨迹记录和当前环境温湿度实时监测功能。所设计的水路两栖多功能巡检车可用于军事安防、危险场景勘探等领域，也为未来远程控制智能小车及智能家居设计提供一定的参考。</p>
        <p>小组成员：冼为民&nbsp;&nbsp;王揆豪&nbsp;&nbsp;谭芳&nbsp;&nbsp;李占齐&nbsp;&nbsp;唐家福</p>
        <p>指导教师：金晅宏</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/control" role="button">查看更多 &raquo;</a>
        </p>
      </div>
{% end %}
